/*--------------------------------------------------------------
Responsive Style
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1. x >= 1440px
--------------------------------------------------------------*/
@media screen and (min-width: 1440px) {
	
}

/* #Tablet (Landscape)
================================================== */

@media only screen and (max-width: 1080px) {
	.order-form {
    width: 866px !important;
    margin-left: 43px !important;
    }
    .heading .ftco-animate h1 {
    margin-top: -39px !important;
    text-align: center;
    font-size: 47px;
    }
    .slider-text .browse span a {
    padding:14px 60px !important;
    }
    .also-know {
    margin-left: 155px !important;
    }
}

/* #Tablet (Portrait)
================================================== */
    
@media only screen and (max-width: 959px) {
.order-form {
    width: 675px!important;
    height: 172px !important;
    margin-top: -111px !important;
    margin-left: 11px !important;
}
.heading .ftco-animate h1 {
    margin-top: -39px !important;
    text-align: center;
    font-size: 47px;
}
.also-know {
    margin-top: -270px !important;
    margin-left: 45px !important;
}
.slider-text .browse span a {
    padding:14px 60px !important;
}
.ftco-section {
    margin-top:-140px !important;
}
}


/* 4. #Mobile (Landscape)
================================================== */

@media only screen and (max-width: 767px) {
	.top-bar p {
	font-size: 12px!important;
	text-align: left!important;
	padding: 3px 10px!important;
}
.logo img {
    width: 187px!important;
}
.order {
	height: auto !important;
	background-repeat: no-repeat !important;
}
.order-form {
	height: 280px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding-top: 10px !important;
	margin-left: 0px !important;
}
.hr-design {
	width: 212px!important;
}
.form-design {
	margin-top: 10px !important;
	padding-left: 13px !important;
}
.ftco-navbar-light {
	margin-bottom: -100px !important;
}
.slider-text h1 {
	font-size: 29px !important;
	text-align: center !important;
}
.hero-wrap {
	height: 570px !important;
}/* height: 733px !important; */
.also-know {
	margin-top: 12px !important;
	margin-left: 0px !important;
}
.also-know span{
	float: left;
}
.heading .ftco-animate h1{
    margin-top:60px !important;
}
}

/*--------------------------------------------------------------
7. x <= 479px (iPhone Portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 479px) {
	.top-bar p {
	font-size: 12px!important;
	text-align: left!important;
	padding: 3px 10px!important;
}
.logo img {
    width: 187px!important;
}
.menu .start-li{
	border-top: 2px solid #fff!important;
}
.menu ul li{
  border-bottom: 2px solid #fff !important;
}
.menu ul li a:hover{
  border-bottom: 2px solid #C90000 !important;
}
.menu ul{
  background-color: #2760992e !important;
}
.heading{
  margin-top: 0px !important;
}
.order {
	height: auto !important;
	background-repeat: no-repeat !important;
}
.order-form {
	width: 330px !important;
	height: 285px !important;
	margin: 0px auto !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding-top: 8px !important;
}
.hr-design {
	width: 212px!important;
}
.form-design {
	margin-top: 10px !important;
	padding-left: 13px !important;
}
.also-know {
	margin-top: 7px !important;
	margin-left: 0px !important;
	margin-bottom: 40px !important;
}
.also-know span{
	float: left;
}
.help-center h2 {
	margin-top: 0px !important;
	font-size: 27px !important;
}
.hero-wrap {
	height: 674px !important;
}
.heading .ftco-animate{
    margin-top:0px !important;
}
}

              


